### Imports for data preprocessing

In [1]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import model_selection
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

### Creating empty DataFrame

In [ ]:
df_empty=pd.DataFrame()

### Loading data set

In [26]:
url = "iris.csv"
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv(url, names=names,header=None)
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [54]:
def understand_data(df):
    print('No of observations: '+ str(df.shape[0]))
    print('No of columns: '+ str(df.shape[1]))
    print('------------------------------------------------------------------------------------')
    print('******** Describe ********* : ')
    df_des=df.describe()
    df_des=pd.DataFrame(df_des)
    print(df_des)
    print('------------------------------------------------------------------------------------')
    print('******** Column data types ******** : ')
    columns=df.columns
    for col in columns:
        print('Data type of  '+ str(col) +'  ' + 'is ' + str(df[col].dtypes))
        if df[col].dtypes=='object':
            print('---> ' + col + ' is a categorical variable. Hence observe value_counts()')
            print(df[col].value_counts())
            print('-------------')
    print('------------------------------------------------------------------------------------')
    print('******** Null values in columns ******** : ')
    null_df=pd.isnull(df).any()
    names=['Column Names','Yes/No']
    null_df=pd.DataFrame(null_df)
    null_df.reset_index(inplace=True)
    null_df.columns=names
    print(null_df)
    print('------------------------------------------------------------------------------------')
    print('******** Duplicates in columns ******** : ')
    for col in columns:
        duplicateRowsDF = df[df.duplicated()][col]
        print("Duplicate Rows except first occurrence :")
        print(duplicateRowsDF)
    print('------------------------------------------------------------------------------------')
    print('******** Head view ******** : ')
    print(df.head(3))
    print('------------------------------------------------------------------------------------')
    print('******** Tail view ******** : ')
    print(df.tail(3))
    print('------------------------------------------------------------------------------------')

In [55]:
understand_data(df)

No of observations: 150
No of columns: 5
------------------------------------------------------------------------------------
******** Describe ********* :
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
------------------------------------------------------------------------------------
******** Column data types ******** :
Data type of  sepal_length  is float64
Data type of  sepal_width  is float64
Data type of  petal_length  is float64
Data type of  petal_width  is float64
Data type of  class  is object
---> class is a categorical variable. Hence observe value_counts()
Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: class, dtype: int64
-------------
------------------------------------------------------------------------------------
******** Null values in columns ******** :
   Column Names  Yes/No
0  sepal_length   False
1   sepal_width   False
2  petal_length   False
3   petal_width   False
4         class   False
------------------------------------------------------------------------------------
******** Duplicates in columns ******** :
Duplicate Rows except first occurrence :
34     4.9
37     4.9
142    5.8
Name: sepal_length, dtype: float64
Duplicate Rows except first occurrence :
34     3.1
37     3.1
142    2.7
Name: sepal_width, dtype: float64
Duplicate Rows except first occurrence :
34     1.5
37     1.5
142    5.1
Name: petal_length, dtype: float64
Duplicate Rows except first occurrence :
34     0.1
37     0.1
142    1.9
Name: petal_width, dtype: float64
Duplicate Rows except first occurrence :
34        Iris-setosa
37        Iris-setosa
142    Iris-virginica
Name: class, dtype: object
------------------------------------------------------------------------------------
******** Head view ******** :
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
------------------------------------------------------------------------------------
******** Tail view ******** :
     sepal_length  sepal_width  petal_length  petal_width           class
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
------------------------------------------------------------------------------------

### Knowing data

In [3]:
print(df.info())
print(df.describe())
print(df.head(2))
print(df.tail(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
None
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
     sepal_length  sepal_width  petal_length  petal_width           class
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

### Making one of the clm as Index

In [ ]:
#df.set_index('clm name to be made as index')

### Making Index as one of the clm in df

In [ ]:
#df.reset_index(inplace=True)

### Indexing and selection

In [5]:
df['sepal_length'].head()
df[['sepal_length','sepal_width']].head()
df.iloc[0:6]
df.loc[0:6,'sepal_length']
df.loc[[0,1,2],['sepal_length','sepal_width']]
df.iloc[0:6,0:2]  #Slicing

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9

### Conditional selection

In [6]:
df[df['sepal_length']>5]     #all clms and selected rows whose sepal_length > 5
df[(df['sepal_length']>5) & (df['sepal_width'] < 5)].head()   # | for OR condition

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa

### Adding new columns to a dataframe based on conditions

In [7]:
df['New column Name']= df['sepal_length'].apply(lambda x: 'sepal_length is greater than 5' if x>5 else 'sepal_length is less than 5')
#df['New column Name'] = np.where(df['sepal_length']>5 ,df['New column Name']= df['sepal_length'].apply(lambda x: 'sepal_length is greater than 5' if x>5 else 'sepal_length is less than 5'), 'sepal_length is less than 5')
df['sepal_length * sepal_width'] = df['sepal_length'] * df['sepal_width']
df.loc[df.sepal_length == 5.1,"5.1 to 0 to be dropped"] = 0
df.loc[df.sepal_length == 5.1,"5.1 to 0 in sepal_length"] = 0
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class,New column Name,sepal_length * sepal_width,5.1 to 0 to be dropped,5.1 to 0 in sepal_length
0,5.1,3.5,1.4,0.2,Iris-setosa,sepal_length is greater than 5,17.85,0.0,0.0
1,4.9,3.0,1.4,0.2,Iris-setosa,sepal_length is less than 5,14.70,NaN,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,sepal_length is less than 5,15.04,NaN,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,sepal_length is less than 5,14.26,NaN,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,sepal_length is less than 5,18.00,NaN,NaN

### Dropping rows and colunms in a dataframe

In [8]:
df.drop('5.1 to 0 to be dropped',inplace=True,axis=1)
df.drop(1,inplace=True,axis=0)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class,New column Name,sepal_length * sepal_width,5.1 to 0 in sepal_length
0,5.1,3.5,1.4,0.2,Iris-setosa,sepal_length is greater than 5,17.85,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,sepal_length is less than 5,15.04,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,sepal_length is less than 5,14.26,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,sepal_length is less than 5,18.00,NaN
5,5.4,3.9,1.7,0.4,Iris-setosa,sepal_length is greater than 5,21.06,NaN

### Group By

In [9]:
df_group1= df.groupby('class')
df_group2= df.groupby(['class','New column Name'])  #Multiple columns groupby
df_group2.describe()

,sepal_length,sepal_width,petal_length,petal_width,class,New column Name,sepal_length * sepal_width,5.1 to 0 in sepal_length
0,5.1,3.5,1.4,0.2,Iris-setosa,sepal_length is greater than 5,17.85,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,sepal_length is less than 5,15.04,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,sepal_length is less than 5,14.26,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,sepal_length is less than 5,18.00,NaN
5,5.4,3.9,1.7,0.4,Iris-setosa,sepal_length is greater than 5,21.06,NaN

#### Can use other methods also like count,nunique,mean...based on type of values

In [ ]:
df_group1['New column Name'].value_counts()    
df_group1['New column Name'].value_counts()['Iris-setosa']['sepal_length is less than 5']

#### Group values and index of these values

In [ ]:
df_group1.groups

#### To see the roes in a single group

In [ ]:
df_group1.get_group('Iris-setosa').head()

### Finding and Handling missing data

In [10]:
df.loc[pd.isnull(df).any(1), :].index.values   #Find 1

pd.isnull(df).any()                           #Find 2

imputer = SimpleImputer(missing_values =np.nan , strategy ='mean' )   #Replace 1
imputed_data=imputer.fit_transform(df[['petal_length']])
df['petal_length_modified']=pd.DataFrame(imputed_data).astype(int)

petal_mean=np.mean(df['petal_length'])                                  #Replace 2
df['petal_length'] = df['petal_length'].apply(lambda x : petal_mean if x == 'NaN' )

,sepal_length,sepal_width,petal_length,petal_width,class,New column Name,sepal_length * sepal_width,5.1 to 0 in sepal_length,petal_length_modified
0,5.1,3.5,1.4,0.2,Iris-setosa,sepal_length is greater than 5,17.85,0.0,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,sepal_length is less than 5,15.04,NaN,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,sepal_length is less than 5,14.26,NaN,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,sepal_length is less than 5,18.00,NaN,1.0
5,5.4,3.9,1.7,0.4,Iris-setosa,sepal_length is greater than 5,21.06,NaN,1.0
6,4.6,3.4,1.4,0.3,Iris-setosa,sepal_length is less than 5,15.64,NaN,1.0
7,5.0,3.4,1.5,0.2,Iris-setosa,sepal_length is less than 5,17.00,NaN,1.0
8,4.4,2.9,1.4,0.2,Iris-setosa,sepal_length is less than 5,12.76,NaN,1.0
9,4.9,3.1,1.5,0.1,Iris-setosa,sepal_length is less than 5,15.19,NaN,1.0
10,5.4,3.7,1.5,0.2,Iris-setosa,sepal_length is greater than 5,19.98,NaN,1.0

### Dropping NaN values in rows and columns

In [ ]:
'''df.dropna(axis = 0,inplace=True,how='any'/'all')
df.dropna(axis = 1,inplace=True,how='any'/'all')
df.fillna(value)
'''

### Index of object in data

In [15]:
object_type_columns = df.dtypes[df.dtypes == "object"].index
df[object_type_columns].describe()

                 class                 New column Name
count              149                             149
unique               3                               2
top     Iris-virginica  sepal_length is greater than 5
freq                50                             118

### For categorical variables

In [ ]:
df.apply(LabelEncoder().fit_transform)
pd.get_dummies(df)

### Convert Strings to DateTime

In [19]:
'''df["date"] = pd.to_datetime(df["date"])
print(df)
print(df.dtypes)'''

'df["date"] = pd.to_datetime(df["date"])\nprint(df)\nprint(df.dtypes)'

### Date in specific format

In [ ]:
#df['datetime']=df['datetime'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %H:%M'))

### Merging dfs

In [ ]:
#df=pd.concat([df1, df2], axis = 1)       #concat using rows then axis=0
#df=pd.merge(df1,df2,how=what join,on='clm name')
#df1.join(df2,how=what join)

### Copying one df to other

In [ ]:
#raw_data=train.copy()

### Finding Outliers

In [6]:
def find_outliers(data,column_name):
    # Set upper and lower limit to 3 standard deviation
    data_std = data[column_name].std()
    data_mean = np.mean(data[column_name])
    outliers_cut_off = data_std * 3
    
    lower_limit  = data_mean - outliers_cut_off 
    upper_limit = data_mean + outliers_cut_off
    print(column_name)
    print(lower_limit)
    print(upper_limit)
    
    # Generate outliers
    outliers=[]
    index_outliers=[]
    for outlier in data[column_name]:
        if outlier > upper_limit or outlier < lower_limit:
            outliers.append(outlier)
    
    print(outliers)
    print('----------------------------------------')

    
    
column=['sepal_length','sepal_width','petal_length','petal_width']
for clm in column:
    find_outliers(df,clm)

sepal_length
3.3591349493997456
8.327531717266924
[]
----------------------------------------
sepal_width
1.7532170659134796
4.354782934086522
[4.4]
----------------------------------------
petal_length
-1.534594593190116
9.051927926523454
[]
----------------------------------------
petal_width
-1.090815558435857
3.4881488917691916
[]
----------------------------------------

### Replacing Outliers

In [ ]:
sepal_width_mean=np.mean(df['sepal_width'])
sepal_width_std = df['sepal_width'].std()
outliers_cut_off=sepal_width_std * 3
lower_limit  = sepal_width_mean - outliers_cut_off 
upper_limit = sepal_width_mean + outliers_cut_off

df['sepal_width'] = df['sepal_width'].apply(lambda x : sepal_width_mean if x >= upper_limit or x < lower_limit else x )

### MISC

#### Gives unique values in a column

In [8]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#### Gives number of unique values

In [9]:
df['class'].nunique()

3

#### Gives count of unique values

In [10]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

#### Sort

In [ ]:
#df.sort_values(by= 'Name or list of names to sort by', axis=, ascending=True, inplace=True)

#### Pivot Table

In [ ]:
'''df.pivot_table()

Parameters
----------
values : column to aggregate, optional
index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.
columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.
aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions
fill_value : scalar, default None
    Value to replace missing values with
margins : boolean, default False
    Add all row / columns (e.g. for subtotal / grand totals)
dropna : boolean, default True
    Do not include columns whose entries are all NaN
margins_name : string, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.

Returns
-------
table : DataFrame'''

#### Renaming columns

In [ ]:
#df=df.rename(columns={'old name':'new name'})

#### Replacing values in a df

In [ ]:
#df['clm  name'] = df['clm name'].replace({old value:new value})

#### Duplicates

In [ ]:
#df.drop_duplicates('clm name')

#### Number of rows, columns and names in df

In [18]:
df.ndim      #Number of dimensions
df.axes      #List of row names
df.shape     #Number of rows and columns

(150, 5)

### Working with files

In [ ]:
# fileObj=open('testcase.txt')
# test_cases=[ elem for elem in test_cases if elem  != ''] 
# whole_test_list=fileObj.read().split('\n')
# file_Obj.close()

In [ ]:
# file_Obj=open('C:\\Users\\ambat\\Desktop\\eNew foldr\\Jupyter\\'+complete_fileName,'w')
# file_Obj.write('reqd text in str format')
# file_Obj.close()

### Working with CSV files

In [ ]:
# with open("/code/output/output1.csv", "w") as out1:
#     writer = csv.writer(out1)
#     writer.writerows(map(lambda x: [x], final_list1))
# out1.close()

In [ ]:
#result.to_csv('/code/output/output.csv', header=False, index=False)

In [ ]:
# Best features (Univariate Selection)
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = data.iloc[:,0:20]  #independent columns
y = data.iloc[:,-1]    #target column i.e price range

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score')) #print 10 best features